* {
  text-decoration: none;
  margin: 0;
  padding: 0 0 0.2rem 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fa0a0a;
}

body {
  background: #faea10;
  background: -moz-linear-gradient(45deg, #faea10 0%, #e600ff 100%);
  background: -webkit-linear-gradient(45deg, #faea10 0%, #e600ff 100%);
  background: linear-gradient(45deg, #faea10 0%, #e600ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Font styling */
main {
  margin: 0 auto;
  max-width: 1200px;
}

p,
h2,
h3 {
  font-family: "poppins", sans-serif;
}

h1 {
  font-size: 45px;
  letter-spacing: 1.5px;
  color: black;
  font-weight: 700;
  font-style: normal;
  font-family: "poppins", sans-serif;
}

h6 {
  font-size: 14px;
  letter-spacing: 1.5px;
  color: black;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
}

/* Styling af navigationbar og logo */

.nav-links {
  cursor: pointer;
  text-align: center;
}

.nav-links li {
  display: inline-block;
  padding: 20px 60px 0px 60px;
}

.nav-links li h6 {
  transition: all 0.3s ease 0s;
}

.nav-links li h6:hover {
  color: red;
  background-color: rgba(221, 221, 221, 0.142);
}

.logo {
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding-top: 20px;
}

.logo h1:hover {
  color: red;
}
.logo h1 {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 0;
  height: 150px;
}

/* Burger Menu */

.burger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(14, 13, 13);
}

@media (max-width: 450px) {
  .navbar {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 0;
    height: 70px;
  }
}

@media (max-width: 600px) {
  .burger {
    display: block;
  }

  /* Få den midterste block i burger menuen til at forsvinde */

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }

  /* Få den øverste til at dreje sig, så den og den nederste kan forme et kryds */
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* en fixed position gør at menuen bliver på skærmen idet man scroller ned, en left -100% gør at vi ikke kan se den */
  .nav-links {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.1s;
  }

  /* vi vil ikke have linksene tæt på hinanden */

  .nav-links li {
    margin: 16px 0;
  }

  .nav-links.active {
    left: 0;
  }
}

/* Footer design */

footer {
  background: #ffffff;
  text-align: center;
  align-self: end;
  display: grid;
  grid-column: span 2;
  height: 80px;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}

.footer-navn {
  display: flex;
  width: 75px;
  height: 30px;
  transition: transform 500ms;
  margin-top: 20px;
  margin-left: 30px;
}
.footer-insta {
  display: flex;
  width: 30px;
  height: 30px;
  transition: transform 500ms;
  margin-top: 20px;
}
.footer-insta:hover {
  transform: scale(1.1);
}

.footer-telefon {
  display: flex;
  width: 115px;
  height: 30px;
  transition: transform 500ms;
  margin-top: 20px;
}

/* Burger menu */

header {
  background-color: white;
}

.burger {
  display: none;
  cursor: pointer;
}

/* Styler selve burgeren */

.bar {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 2px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

/* Styler burger i mindre vindue */

@media (max-width: 768px) {
  .burger {
    display: block;
    position: absolute;
    top: 26px;
    right: 8px;
    left: auto;
    padding: 0;
    border: 0;
    min-width: 20px;
    min-height: 20px;
    background: 0 0;
    overflow: visible;
    z-index: 999;
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links {
    display: flex;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 999;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-links.active {
    left: 0;
  }
}

/* Laver en media til h1 (logo) */

@media (max-width: 555px) {
  h1 {
    font-size: 30px;
    letter-spacing: 1.5px;
    color: black;
    font-weight: 700;
    font-style: normal;
    font-family: futura-pt, sans-serif;
  }
}

/* CSS til instagram ikonet */

.fa {
  padding: 10px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
}

/* hover effekt bliver lagt på */
.fa:hover {
  opacity: 0.7;
}

/* Instagram */
.fa-instagram {
  background: white;
  color: #948d85;
}
