* {
  text-decoration: none;
  margin: 0;
  padding: 0 0 0.2rem 0;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

body {
  background: #faea10;
  background: -moz-linear-gradient(45deg, #faea10 0%, #e600ff 100%);
  background: -webkit-linear-gradient(45deg, #faea10 0%, #e600ff 100%);
  background: linear-gradient(45deg, #faea10 0%, #e600ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.button {
  border-radius: 3px;
  background-color: #ffffff00;
  border: none;
  font-size: 12px;
  padding: 13px;
  transition: all 0.5s;
  cursor: pointer;
  margin: -8px;
}

.button:hover {
  transform: scale(1.1);
}

video {
  padding-left: 5px;
  padding-right: 5px;
}

/* dark-mode */

.dark-mode {
  background: #323132;
  background: -moz-linear-gradient(45deg, #323132 0%, #121212 100%);
  background: -webkit-linear-gradient(45deg, #323132 0%, #121212 100%);
  background: linear-gradient(45deg, #323132 0%, #121212 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dark-mode .navbar {
  background-color: #0a0a0aff;
}

.dark-mode header {
  background-color: #0a0a0aff;
}

.dark-mode footer {
  background-color: #0a0a0aff;
}

.dark-mode p {
  color: #eee3c1ff;
}

.dark-mode .hello {
  color: #eee3c1ff;
}

.dark-mode h1 {
  color: #eee3c1ff;
}

.dark-mode h6 {
  color: #eee3c1ff;
}

.dark-mode h3 {
  color: #d1342fff;
}

.dark-mode h2 {
  color: #d1342fff;
}

.dark-mode .bar {
  background-color: rgb(255, 255, 255);
}

.dark-mode .nav-links {
  background-color: #0a0a0aff;
}

.dark-mode .box-container .box {
  border: 1rem solid #323132;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #323132;
}

.dark-mode .box-container .box h3 {
  color: #eee3c1ff;
}

.dark-mode .footer-navn {
  color: #eee3c1ff;
}
/* end af dark-mode */

/* Font styling */

p,
h1,
h2,
h3,
h6 {
  padding-left: 5px;
  padding-right: 5px;
}

p {
  font-family: "poppins", sans-serif;
  color: rgb(252, 252, 252);
}

h3,
h2 {
  font-family: "poppins", sans-serif;
  color: #111;
}

h1 {
  letter-spacing: 1.5px;
  color: black;
  font-weight: 700;
  font-style: normal;
  font-family: "poppins", sans-serif;
}

h6 {
  font-size: 14px;
  letter-spacing: 1.5px;
  color: black;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
}

/* end af Font styling */

/* Styling af navigationbar og logo */

.nav-links {
  cursor: pointer;
  text-align: center;
}

.nav-links li {
  display: inline-block;
  padding: 20px 60px 0px 60px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li h6 {
  transition: all 0.3s ease 0s;
}

.nav-links li h6:hover {
  color: #efc862;
  transform: scale(1.1);
}

.logo {
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding-top: 20px;
  padding-left: 20px;
}

.logo h1:hover {
  color: #efc862;
  transform: scale(1.1);
}
.logo h1 {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 13px;
  overflow-x: auto;
}

/* End af styling af navigationbar og logo */

/* Burger Menu */

.burger {
  display: none;
  cursor: pointer;
}

header {
  background-color: white;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(14, 13, 13);
}

@media (max-width: 600px) {
  .burger {
    display: block;
  }

  /* Få den midterste block i burger menuen til at forsvinde */

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }

  /* Få den øverste til at dreje sig, så den og den nederste kan forme et kryds */
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* en fixed position gør at menuen bliver på skærmen idet man scroller ned, en left -100% gør at vi ikke kan se den */
  .nav-links {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.1s;
  }

  /* vi vil ikke have linksene tæt på hinanden */

  .nav-links li {
    margin: 16px 0;
  }

  .nav-links.active {
    left: 0;
  }
}

/* End af burger Menu */

/* Footer design */

footer {
  background: #ffffff;
  text-align: center;
  align-self: end;
  display: grid;
  grid-column: span 2;
  height: 50px;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}

.footer-navn {
  height: 30px;
  transition: transform 500ms;
  margin-top: 20px;
}

/* end af Footer design */

/* Styler selve burgeren */

.bar {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 2px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

/* Styler burger i mindre vindue */

@media (max-width: 768px) {
  .burger {
    display: block;
    position: absolute;
    top: 26px;
    right: 8px;
    left: auto;
    padding: 0;
    border: 0;
    min-width: 20px;
    min-height: 20px;
    background: 0 0;
    overflow: visible;
    z-index: 999;
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links {
    display: flex;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 999;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-links.active {
    left: 0;
  }
}
/* end af styler burger */

/* Laver en media til h1 (logo) */

@media (max-width: 555px) {
  h1 {
    font-size: 30px;
    letter-spacing: 1.5px;
    color: black;
    font-weight: 700;
    font-style: normal;
    font-family: futura-pt, sans-serif;
  }
}
